*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    position: relative;
}

.nav{
    border: 1px solid black;
    width: 100wh;
    height: 50px;
    background-color: gray;
    margin-bottom: 20px;
 
    top: 0;
    position: sticky;
    /* overflow: hidden; */
    /* z-index: 1; */
}
.container{
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    height: 80vh;
    width: 90vw;
    background-color: gray;
}
.box1{
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}
.box2{
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}
.foot{
    border: 1px solid black;
    width: 100wh;
    height: 50px;
    background-color: gray;
    margin-bottom: 0px;
}

.text{
    background-color: rgb(113, 108, 101);
    border-radius: 30px;
    height: 150px;
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fixed{
    background-color: yellow;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    position: fixed;
    right: 5px;
    bottom: 15px;
}